parameters:
    level: 6
    paths:
        - src
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - phpstan/wp-constants.php
        - phpstan/action-scheduler.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
